<h1>component</h1>
<div data-sly-use.book="com.aem.community.core.models.TestModel">

<div>BookName:${book.bookname}</div>
<div>BookSubject:${book.booksubject}</div>
<div>Publishyear:${book.publishyear}</div>
<div>Path:${book.path}</div>
<div>ResourceType:${book.slingResourceType}</div>
<div>Pagepath:${book.pagePath}</div>
<div>Size:${book.size}</div>
<div>resourcetype:${book.resourceType}</div>
<div>child:${book.getPath}</div>
<div>title:${book.title}</div>
<div>socialResource:${book.socialResource}</div>

</div>